{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('update-weight.title') }}</h1>

    <div>
        <p>
            <strong>{{ __('update-weight.starting.weight')}}</strong> {{ startingweight }} <br/>
            <strong>{{ __('update-weight.current.weight')}}</strong> {{ weeks | last }} <br/>
            <strong>{{ __('update-weight.percent.lost')}}</strong> {{ 100 - ((weeks[weeks.length-1]/startingweight)*100) | truncateDecimal(2) }}% <br/>
        </p>
        <p>
        {% for week in weeks%}
            <strong>{{__('update-weight.week')}} {{loop.index}} </strong> {{week}} <br/>
        {% endfor %}
        </p>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ textInput('currentWeight', 'form.currentWeight', { class: "w-3-4", required: true }) }}
            <a class="button-link" href="{{ routePath(route.next) }}" role="button" draggable="false">
                {{ __('start.submit') }}
                <span aria-hidden="true">→</span>
            </a>
        </form>
    </div>

{% endblock %}
