{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('update-weight.title') }}</h1>

    <div>
        <p>
            <strong>{{ __('update-weight.starting.weight')}}</strong> {{ startingweight }} <br/>
            <strong>{{ __('update-weight.current.weight')}}</strong> {{ weeks | last }} <br/>
            <strong>{{ __('update-weight.percent.lost')}}</strong> {{ 100 - ((weeks[weeks.length-1]/startingweight)*100) | truncateDecimal(2) }}% <br/>


        </p>
        
    </div>

{% endblock %}
